svg {
  height: auto;
  max-width: 100%;
}


.legend {
    font-size: 15px;
}

rect {
    stroke-width: 0.8;
}

.countries {
    stroke: black;
    stroke-width:0.1px;
}

.countries:hover{
    fill: Grey;
}


.cities {
    fill: Black;
}

.internship {
    fill: Olive;
    opacity:0.5;
}

.internshipFr {
    fill: Olive;
    opacity:0.5;
}


.regions {
    stroke: black;
    stroke-width: 0.1px;
}

.regions:hover  {
    fill: Grey;
}


div.tooltip {   
    position: absolute;           
    text-align: center;           
    width: 100px;                  
    height: 100px;                 
    padding: 2px;             
    font: 15px Serif;        
    background: Olive;          
    pointer-events: none;
     


}


.background {
    fill: CornFlowerBlue;
    pointer-events: all;
}


.button {
    fill: Green;
    stroke: black;
    stroke-width:0.5px;
}


.button_back {
    fill: Black;
    stroke: black;
    stroke-width:0.5px;
}







